.section-input {
    box-shadow: 0 0 15px rgba(177, 177, 177, 0.134);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.section-input h3 {
    font-weight: 600;
    /* color: #2a7dd0; */
}




@media (min-width: 3000px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1600px;
    }
}